/* CSS styling*/

body, html{
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.jumbotron-1{
    background-color: lightgreen;
    font-family: "Times New Roman", "serif";
    font-weight: bold;
    width:900px;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.jumbotron-2{
    background-color: lightgreen;
    font-family: "Times New Roman", "serif";
    font-weight: bold;
    width:900px;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    display: none;
}

.jumbotron-3{
    background-color: lightgreen;
    font-family: "Times New Roman", "Times", "serif";
    font-weight: bold;
    width:900px;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    display: none;
}

h1{
    font-family: "Georgia", "Times New Roman", "Times", "serif";
    color: rgb(8, 184, 8);
    font-size: 75px;
    font-weight: bold;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: red;
}

.btn{
    font-family: "Georgia", "Times New Roman", "Times", "serif";
    color: white;
    font-size: 50px;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#results{
    font-size: 20px;
}

#quiz{
    margin: 0 auto;
}